<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>My Profile | 8 Bit Bazaar</title>
    <meta name="author" content="" />
    <meta name="description" content="Website of old products">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style-register.css" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>
<body>
<header>
    {{> header }}
</header>
<main class="main-content-profile">
    <form action="/profile" method="POST" enctype="multipart/form-data">
        <div class="form-header">
            <h2>My Profile</h2>
        </div>

        <div class="form-field-group">
            <div class="form-field">
                <label for="first-name">First name<span class="required">*</span></label>
                <input class="input-box" type="text" id="first-name" name="firstName" maxlength="30" value="{{user.firstName}}" required>
            </div>
            <div class="form-field">
                <label for="last-name">Last name<span class="required">*</span></label>
                <input class="input-box" type="text" id="last-name" name="lastName" maxlength="30" value="{{user.lastName}}" required>
            </div>
        </div>

        <div class="form-field-group">
            <div class="form-field">
                <label for="birth-date">Birth date<span class="required">*</span></label>
                <input class="input-box" type="date" id="birth-date" name="birthDate" min="1900-01-01" value="{{user.birthDate}}" required>
            </div>
            <div class="form-field">
                <label for="sex">Sex<span class="required">*</span></label>
                <select class="input-box" id="sex" name="sex" required>
                    <option value="M" {{#if (eq user.sex "M")}}selected{{/if}}>Male</option>
                    <option value="F" {{#if (eq user.sex "F")}}selected{{/if}}>Female</option>
                    <option value="N" {{#if (eq user.sex "N")}}selected{{/if}}>Not declared</option>
                </select>
            </div>
            <div class="form-field">
                <label for="profile-picture">Profile picture</label>
                <div class="user-image-selector">
                    <img id="image-preview" src="{{#if user.picturePath}}{{user.picturePath}}{{else}}/images/users/no-picture.png{{/if}}" alt="Image Preview">
                    <input type="file" id="profile-picture" name="profilePicture" accept="image/*">
                    <input type="hidden" name="existingPicturePath" value="{{user.picturePath}}">
                </div>
            </div>
        </div>

        <div class="form-field-group">
            <div class="form-field">
                <label for="phone-number">Phone Number<span class="required">*</span></label>
                <input class="input-box" type="tel" id="phone-number" name="phoneNumber" maxlength="20" value="{{user.phoneNumber}}" required>
            </div>
            <div class="form-field">
                <label for="email">Email<span class="required">*</span></label>
                <input class="input-box" type="email" id="email" name="email" maxlength="50" value="{{user.email}}" required>
            </div>
        </div>

        <div class="form-field-group">
            <div class="form-field">
                <label for="address-line-1">Address line 1<span class="required">*</span></label>
                <input class="input-box" type="text" id="address-line-1" name="addressLine_1" maxlength="100" value="{{user.addressLine_1}}" required>
            </div>
        </div>
        <div class="form-field-group">
            <div class="form-field">
                <label for="address-line-2">Address line 2</label>
                <input class="input-box" type="text" id="address-line-2" name="addressLine_2" maxlength="100" value="{{user.addressLine_2}}">
            </div>
            <div class="form-field">
                <label for="postal-code">Postal Code<span class="required">*</span></label>
                <input class="input-box" type="text" id="postal-code" name="postalCode" maxlength="20" value="{{user.postalCode}}" required>
            </div>
        </div>

        <div class="form-field-group">
            <div class="form-field">
                <label for="country">Country<span class="required">*</span></label>
                <select class="input-box" id="country" name="country" required>
                    <option value="Canada" {{#if (eq user.country "Canada")}}selected{{/if}}>Canada</option>
                </select>
            </div>
            <div class="form-field">
                <label for="province">Province<span class="required">*</span></label>
                <select class="input-box" id="province" name="stateProvince" required>
                    {{#each provinces}}
                    <option value="{{this}}" {{#if (eq ../user.stateProvince this)}}selected{{/if}}>{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-field">
                <label for="city">City<span class="required">*</span></label>
                <input class="input-box" type="text" id="city" name="city" value="{{user.city}}" required>
            </div>
        </div>

        <div class="form-container">
            <button class="submit-button" type="button" onclick="document.getElementById('submit-btn').click()">
                <span class="material-symbols-outlined">save</span>&nbsp;Save changes
            </button>
            <input style="display:none" type="submit" id="submit-btn">
        </div>
    </form>

    <footer>
        {{> footer}}
    </footer>
</main>
<script src="/js/scripts.js"></script>
<script>
    // Set max date for birthdate
    document.addEventListener("DOMContentLoaded", function () {
        const today = new Date();
        const yyyy = today.getFullYear() - 10;
        const mm = String(today.getMonth() + 1).padStart(2, '0');
        const dd = String(today.getDate()).padStart(2, '0');
        document.getElementById('birth-date').setAttribute('max', `${yyyy}-${mm}-${dd}`);
    });

    // Image preview
    document.getElementById('profile-picture').addEventListener('change', function (event) {
        const file = event.target.files[0];
        if (file && file.type.startsWith('image/')) {
            const reader = new FileReader();
            reader.onload = e => document.getElementById('image-preview').src = e.target.result;
            reader.readAsDataURL(file);
        }
    });

    {{#if successMessage}}
        toastr.options.positionClass = 'toast-bottom-right';
        toastr.success('{{successMessage}}', 'Success');
    {{/if}}
    {{#if errorMessages}}
        toastr.options.positionClass = 'toast-bottom-right';
        toastr.error('{{errorMessages}}', 'Error');
    {{/if}}
</script>
</body>
</html>
