<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Cart | 8 Bit Bazaar</title>
    <meta name="description" content="Website of old products">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style-shopping-cart.css" />
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>
<body>
    <header>
        {{> header}}
    </header>

    <main>
        <h1 class="cart-title">Shopping Cart</h1>
        <div class="cart-items">
            {{#if products.length}}
                {{#each products}}
                    <div class="cart-item" id="{{_id}}" style="display: none">
                        <div class="delete-button" onclick="deleteCartItem('{{_id}}')">
                            <span class="material-symbols-outlined">close</span>
                        </div>
                        <div class="cart-item-image-wrapper">
                            <img src="{{picturePath}}" alt="Cart Item Image" class="cart-item-image">
                        </div>
                        <div class="cart-item-details">
                            <h2 class="cart-item-name">{{name}}</h2>
                        </div>
                        <div class="form-field">
                            <select class="input-box" id="quantity" name="quantity" onChange="updateCartItems()">
                                {{#each quantityOptions}}
                                    <option value="{{this}}">{{this}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="cart-item-price">
                            <span class="cart-item-price-new">$ {{calcDiscount price discount}}</span>
                        </div>
                    </div>
                {{/each}}
            {{else}}
                <p>Your cart is empty.</p>
            {{/if}}
        </div>
        {{#if products.length}}
            <h2 class="cart-total">Total: <span id="total-value">$ 0</span></h2>

            <form action="{{#if currentUser}}/checkout{{else}}/login{{/if}}" id="form-checkout" method="GET">
                <input style="display: none;" type="text" id="product_ids" name="product_ids">
                <input style="display: none;" type="text" id="quantities" name="quantities">
                <input style="display: none;" type="text" id="total" name="total">
                <input class="proceed-to-checkout-btn" type="submit" value="Proceed to Checkout" />
            </form>
        {{/if}}
        <footer>
            {{> footer}}
        </footer>
    </main>
    <script src="/js/scripts.js"></script>
    <script>
        updateCartItems();
    {{#if successMessage}}
        toastr.options.positionClass = 'toast-bottom-right';
        toastr.success('{{successMessage}}', 'Success');
    {{/if}}
    {{#if errorMessages}}
        toastr.options.positionClass = 'toast-bottom-right';
        toastr.error('{{errorMessages}}', 'Error');
    {{/if}}
    </script>
</body>
</html>
