<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Products | 8 Bit Bazaar</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/style-products.css" />
    <link rel="shortcut icon" href="/images/favicon.png" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />

    <!-- Jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
        crossorigin="anonymous"></script>

    <!-- Toastr -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>

<body>
    {{> header }}

    <main>
        <div class="welcome">
            <span class="welcome-title">Products</span>
        </div>
        <div>
            {{#each products}}
                <div class="product" id="{{code}}">
                    <div class="product-image-wrapper">
                        <img src="{{picture_path}}" alt="Product Image" class="product-image">
                        {{#if is_deal}}
                            <img src="/images/hot-deal.png" alt="Hot Deal" class="hot-deal">
                        {{/if}}
                    </div>
                    <div class="product-details">
                        <h2 class="product-name">{{name}}</h2>
                        <p class="type">{{type}}</p>
                        <div class="price">
                            <span class="price-old">$ {{price}}</span>
                            <span class="price-new">$ {{calcDiscount price discount}}</span>
                        </div>
                        <span class="product-quantity">Quantity: {{quantity_in_stock}}</span>
                        <p class="description">{{description}}</p>
                        <button class="add-to-cart-btn" onclick="addToCart('{{code}}')">Add to cart</button>
                    </div>
                </div>
            {{/each}}
        </div>

        {{> footer }}
    </main>

    <script src="/scripts/scripts.js"></script>
    {{#if toastrMessage}}
    <script>
        toastr.success('{{toastrMessage}}', 'Success');
    </script>
    {{/if}}
</body>

</html>
